<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13273099221-nb7dvr5v4nnj0c3vpu5pla552hp5lk7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13273099221-nb7dvr5v4nnj0c3vpu5pla552hp5lk7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCTeaPmn0Oq4hO5Ap0LxyDglfX7Vl_FOVw</string>
	<key>GCM_SENDER_ID</key>
	<string>13273099221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyond2021.Todo</string>
	<key>PROJECT_ID</key>
	<string>multilogin-21a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>multilogin-21a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13273099221:ios:ff11f0e4801614fe43ab5c</string>
</dict>
</plist>